*{
	font-family: sans-serif;
	color:  black;
	text-align: center;
}


h1{
	font-size:  40px;
}

body{

	background-color: white;
	padding: 0px 40px 0px 40px;
}

.foto{
	border-radius: 10px;
}

div{
	width: 33.3%;
	float: left;
}

p{
	text-align: justify;
	padding: 20px;
}

ul > li{
	text-align: justify;
}